.movieDetails {
  padding: 20px;
}

.movieDetails h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.movieDetails p {
  margin: 5px 0;
}

.movieDetails button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movieDetails button:hover {
  background-color: #1c7ed6;
}

.additionalInfo ul {
  list-style-type: none;
  padding: 0;
}

.additionalInfo li {
  margin: 10px 0;
}

.additionalInfo a {
  text-decoration: none;
  color: #1e90ff;
}

.additionalInfo a:hover {
  color: #1c7ed6;
}
.movieImage {
  width: 100%;
  max-width: 200px;
}
