.homeContainer {
  padding: 20px;
}

.moviesList {
  list-style-type: none;
  padding: 0;
}

.moviesList li {
  margin: 10px 0;
}

.moviesList a {
  text-decoration: none;
  color: #000;
}

.moviesList a:hover {
  color: #1e90ff;
}
